.wrapBlog {
  margin-bottom: $-padding * 4;
  img,
  &__detail {
    margin: auto;
    width: calc(100% - 40px);
  }

  &__title {
    color: $-orange;
    font-size: 23px;
    margin-top: $-padding * 4;
    text-align: center;
  }

  img {
    margin-top: 40px;
  }

  &__detail {
    margin-top: -5px;
  }

  &__orange {
    align-items: center;
    background-color: $-orange;
    color: $-white;
    display: flex;
    justify-content: center;
    padding: 26px $-padding / 2;
    h4 {
      font-weight: 300;
      font-size: 16px;
      overflow: hidden;
      text-transform: uppercase;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &__header {
    background-color: rgba($-orange, 0.1);
    p {
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      color: $-orange;
      display: -webkit-box;
      font-size: 23px;
      height: 55%;
      line-clamp: 2;
      max-width: 100%;
      overflow: hidden;
      padding: $-padding;
      text-align: start;
      text-overflow: ellipsis;
    }
  }
  &__date {
    color: $-orange;
    font-size: 0.874rem;
    padding: 25px 20px;
    text-align: start;
    display: block;
  }

  &__content {
    color: $-orange;
    font-size: 1rem;
    margin: auto;
    text-align: start;
    width: calc(100% - 40px);
  }
}

.post-content {
  position: relative;
  margin-top: 15vh;

  &__title {
    color: $-white;
    margin: $-padding * 2 0;
    text-align: center;

    h1 {
      font-size: 35px;
    }
    span {
      font-size: 23px;
    }
  }

  &__image {
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-height: 60vh;
      width: auto;
    }
  }

  &__description {
    font-size: 23px;
    line-height: 1.4em;
    margin: $-padding 0;
    padding: $-padding;

    h2 {
      color: $-orange;
      font-size: 38px;
      margin: $-padding * 2 0;
    }

    strong {
      font-weight: 700;
    }
  }

}