.wrapBlog {
  margin-bottom: $-padding * 4;
  img,
  &__detail {
    margin: auto;
    width: calc(100% - 40px);
  }

  img {
    margin-top: 40px;
  }

  &__detail {
    margin-top: -5px;
  }

  &__orange {
    background-color: $-orange;
    color: $-white;
    padding: 26px 0;
    h4 {
      font-weight: 300;
      text-transform: uppercase;
    }
  }

  &__header {
    background-color: rgba($-orange, 0.1);
    p {
      color: $-orange;
      height: 40%;
      padding: $-padding;
      text-align: start;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  &__date {
    color: $-orange;
    font-size: 0.874rem;
    padding: 25px 20px;
    text-align: start;
    display: block;
  }

  &__content {
    color: $-orange;
    font-size: 1rem;
    margin: auto;
    text-align: start;
    width: calc(100% - 40px);
  }
}
