.helpBody {
  margin: 90vh auto $-padding * 4;
  width: 100%;

  @include for-tablet-portrait-up {
    margin: 70vh auto $-padding * 4;
  }

  &__card {
    background-color: $-orange-light;
    margin: auto;
    max-width: 80vw;
    padding: 15px 15px 0;
    position: relative;
    width: 80vw;

    @include for-tablet-portrait-up {
      padding: $-padding * 4 $-padding * 4 0;
    }

    h3 {
      color: $-orange;
      font-size: 2.5rem;
      margin-bottom: 0;
      margin-top: 50px;
      text-align: center;
      @include for-phone-only {
        font-size: 2rem;
      }

      @include for-tablet-portrait-up {
        margin-bottom: 30vw;
        margin-top: 0px;
      }
    }
    h2 {
      color: $-orange;
      font-size: 2.5rem;
      margin: $-padding * 2 0;

      @include for-phone-only {
        font-size: 2rem;
      }
    }

    &__bottom {
      background-color: $-orange;
      margin: 0 -15px;
      padding: 30px;

      @include for-tablet-portrait-up {
        margin: 0 -60px;
        max-height: 260px;
        padding: $-padding * 4;
      }

      p {
        color: $-white;
        font-size: 1.5rem;
        font-style: italic;
      }
      img {
        position: relative;
        width: 100%;
        max-width: 100%;

        @include for-tablet-portrait-up {
          margin-top: -13vw;
          width: 90%;
        }
      }
      .video-container {
        margin: $-padding * 2 auto 0;
        @include for-tablet-portrait-up {
          margin: -15% auto 0;
        }
      }
    }
  }

  &__imageOffset1 {
    display: none;

    @include for-tablet-portrait-up {
      display: block;
      margin-top: 170px;
      position: absolute;
      z-index: 2;
      margin-top: 200px;
    }
  }
  &__imageOffset2 {
    display: block;
    margin-top: 50px;

    @include for-tablet-portrait-up {
      display: none;
    }
  }
}

.offsetGrid {
  gap: 0px 0px;
  margin-bottom: 0;
  padding-top: $-padding * 2;
  position: relative;
  z-index: 2;

  @include for-notebook-landscape-up {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-bottom: $-padding * 4;
    padding-top: 0;
  }

  @include for-notebook-landscape-up {
    transform: translateY(-250px);
    &.noTranslate {
      transform: translateY(0px);
    }
    &.marginTop {
      margin-top: 100px;
    }
  }

  .rightSection {
    .channels {
      gap: 15px;
      @include for-notebook-landscape-up {
        margin-left: -150px;
      }
      @include for-desktop-up {
        margin-left: -60px;
      }
      .channelImg img {
        border: 2px solid $-purple;
        border-radius: 50%;
        height: 100px;
        min-height: 100px;
        object-fit: fill;
        min-width: 100px;
        width: 100px;
      }
    }
  }
}

.leftSection {
  @include for-notebook-landscape-up {
    grid-area: 1 / 1 / 5 / 4;
  }
}
.rightSection {
  @include for-notebook-landscape-up {
    grid-area: 2 / 3 / 6 / 6;
  }
}

.cardText {
  background-color: $-orange-light;
  padding: $-padding * 2;
  color: $-orange;
  margin: $-padding;

  @include for-notebook-landscape-up {
    padding: $-padding * 2 $-padding * 4;
    height: max-content;
  }

  h3 {
    font-size: 2.5rem;
    margin: $-padding 0 0;
    @include for-phone-only {
      font-size: 2rem;
    }
  }

  p {
    padding: 0 0 $-padding;
    font-style: italic;
    font-size: 23px;
  }

  ul {
    font-style: italic;
    list-style-image: url("../../public/assets/svg/line-list.svg");
    padding-left: $-padding;
    width: 60%;

    li {
      padding: $-padding 0 0 $-padding / 2;
    }
  }
  &.rightSection {
    @include for-notebook-landscape-up {
      padding-left: 35%;
    }
  }
  &.bgWhite {
    background-color: #fff !important;
    h1 {
      background-color: $-orange;
      color: $-white;
      font-size: 2rem;
      padding: $-padding * 2;
      @include for-notebook-landscape-up {
        padding: $-padding * 3.45 $-padding $-padding 40%;
        width: 58%;
      }
    }
    header {
      background-color: $-orange;
      color: $-white;
      font-size: 2rem;
      padding: $-padding * 2;
      @include for-notebook-landscape-up {
        padding: $-padding * 3.45 $-padding $-padding 35%;
        width: 63%;
        p {
          font-weight: 300;
          font-style: italic;
        }
        h2 {
          font-size: 3rem;
          font-weight: 900;
        }
      }
      ul {
        li {
          font-size: 23px;
          width: 100%;
        }
      }
    }
    .content {
      padding: $-padding * 2 0;
      text-align: center;
      width: 100%;
      @include for-notebook-landscape-up {
        width: 60%;
        padding: $-padding * 2 0 $-padding * 2 25%;
      }
      p {
        color: $-orange;
        font-size: 1.5rem;
      }

      .btnPrimary {
        margin: auto;
      }
    }
    &.rightSection {
      padding: 0;
    }
  }
  &__text {
    padding: $-padding * 2 12vw $-padding * 2 0;
  }
}

.cardImg {
  position: relative;
  margin: $-padding;

  iframe {
    margin: 5%;
    min-height: 280px;
    width: 90%;
  }
  &__background {
    height: auto;
    position: relative;
    width: 100%;
  }
  &__line {
    top: 50%;
    width: 80%;
    position: absolute;
    transform: translateY(-50%);
    &.lineLeft {
      left: 0;
    }

    &.lineRight {
      right: 0;
    }
  }
}

.galleryEat {
  background-color: $-orange-light;
  border-radius: 5px;
  margin-top: -150px;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 100%;

  @include for-desktop-up {
    padding: $-padding * 3;
  }

  &__itemWrap {
    padding: $-padding;
    .lineOffset {
      background: url("../../public/assets/svg/short-line.svg") center no-repeat;
      height: 10px;
      position: absolute;
      width: 100px;
      right: -25px;
      transform: translateY(100px);
    }
    &:nth-child(1) {
      .lineOffset {
        left: -25px;
        transform: translateY(50px);
        @include for-phone-only {
          right: -10px;
        }
      }
    }
    &:nth-child(2) {
      .lineOffset {
        left: -25px;
        transform: translateY(200px);
        @include for-phone-only {
          right: -10px;
        }
      }
    }
    &:nth-child(3) {
      .lineOffset {
        right: -25px;
        transform: translateY(100px);
        @include for-phone-only {
          right: -10px;
        }
      }
    }
    &:nth-child(4) {
      .lineOffset {
        right: -25px;
        transform: translateY(50px);
        @include for-phone-only {
          right: -10px;
        }
      }
    }
    &:nth-child(5) {
      .lineOffset {
        right: -25px;
        transform: translateY(150px);
        @include for-phone-only {
          right: -10px;
        }
      }
    }
    &:nth-child(6) {
      .lineOffset {
        right: -25px;
        transform: translateY(200px);
        @include for-phone-only {
          right: -10px;
        }
      }
    }
  }

  &__item {
    display: block;
    height: 100%;
    position: relative;
    width: 100%;

    &::after {
      background-color: transparent;
      content: "";
      height: 0;
      left: 50%;
      position: absolute;
      top: 50%;
      transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      width: 0;
    }

    &:hover {
      &::after {
        background-color: rgba($-orange, 0.4);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
    p {
      bottom: $-padding * 2;
      color: $-white;
      font-size: 1.8rem;
      left: $-padding * 2;
      position: absolute;
      width: 52%;
      @include for-phone-only {
        font-size: 1.2rem;
      }
    }
    .plus {
      background: url("../../public/assets/svg/plus.svg") center no-repeat;
      bottom: $-padding;
      height: 30px;
      position: absolute;
      right: $-padding;
      width: 30px;
    }
  }
}

.testimonials {
  background-color: $-orange-light;
  padding: $-padding * 4 0;
  position: relative;
  width: 100%;
  z-index: 1;
  &__grid {
    display: flex;
    @include for-notebook-landscape-up {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      gap: 0px 0px;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    .image {
      z-index: 2;
      @include for-notebook-landscape-up {
        grid-area: 1 / 1 / 4 / 5;
      }

      @include for-phone-only {
        display: none;
      }

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
    .text {
      background-color: $-orange;
      padding: 0 30px;
      position: relative;
      z-index: 2;
      @include for-notebook-landscape-up {
        grid-area: 2 / 4 / 5 / 10;
        padding-left: 25%;
        z-index: 1;
      }
      p {
        color: $-white;
        display: flex;
        flex-direction: column;
        font-size: 23px;
        font-weight: 700;
        height: 98%;
        justify-content: center;
        width: 100%;
        @include for-notebook-landscape-up {
          width: 90%;
        }
        small {
          font-size: 1rem;
          margin-top: $-padding;
        }
      }
    }
  }
}

.studies {
  margin-top: 50px;
  &__grid {
    display: flex;
    flex-direction: column-reverse;
    @include for-notebook-landscape-up {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(6, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
    &__text {
      background-color: $-white;
      padding: 40px;
      @include for-notebook-landscape-up {
        grid-area: 2 / 1 / 7 / 4;
      }
      h2 {
        color: $-orange;
        font-size: 2.5rem;
        font-weight: 900;
        margin-bottom: $-padding * 2;
      }
      strong {
        color: $-orange;
        font-weight: 700;
        font-size: 25px;
      }
      p {
        color: $-orange;
        font-size: 23px;
        width: 65%;
      }
    }
    &__image {
      @include for-notebook-landscape-up {
        grid-area: 1 / 3 / 6 / 6;
      }
    }
  }
}

.what-content {
  margin: 90vh auto 0;
  padding-bottom: $-padding * 5;
  position: relative;
  @include for-notebook-landscape-up {
    margin: 90vh auto 0;
    padding-bottom: 100px;
  }

  &::before {
    content: "";
    background: url("../../public/assets/svg/line-4.svg") no-repeat center;
    background-size: contain;
    height: 200px;
    left: -80px;
    top: 100px;
    position: absolute;
    width: 25vw;
    z-index: 9;
  }
  &::after {
    content: "";
    background: url("../../public/images/m_img_2.png") no-repeat center;
    background-size: cover;
    height: 400px;
    position: absolute;
    transform: translateY(-300px);
    width: 100%;
    z-index: -1;
  }
  .itemsContent {
    background-color: $-orange-light;
    padding: $-padding * 2;
    @include for-notebook-landscape-up {
      padding: $-padding * 4 $-padding * 8;
    }
    &__item {
      padding: $-padding / 2 $-padding;
      @include for-notebook-landscape-up {
        padding: $-padding * 2 $-padding;
      }
      h2 {
        color: $-orange;
        font-size: 2rem;
        text-align: start;
        padding-left: 10vw;
        width: 100px;
        @include for-tablet-portrait-up {
          padding-left: 60px;
        }
      }
      img {
        width: 100px;
      }
      p {
        color: $-orange;
        margin: auto;
        padding: $-padding 0;
        font-style: italic;
        font-size: 23px;
        width: 200px;
        @include for-notebook-landscape-up {
          width: 130px;
        }
      }
      small {
        color: $-orange;
        line-height: 0.75rem;
        font-size: 0.75rem;
        font-style: italic;
      }
    }
  }
  &.cursos {
    margin-top: 0;
  }
  &.programas {
    margin-top: 0;
    &::after {
      height: 100vh;
      transform: translateY(-90vh);
    }
  }
}

.imageText {
  position: relative;
  z-index: 2;

  ul {
    font-style: italic;
    list-style-image: url("../../public/assets/svg/line-list.svg");
    padding: $-padding 0 $-padding $-padding;
    li {
      padding: $-padding 0 0 $-padding;
    }
  }

  &__row {
    @include for-notebook-landscape-up {
      margin-top: $-padding * 4;
    }
  }
  &__text {
    color: $-white;
    padding: $-padding * 2 $-padding * 2 100px;
    @include for-notebook-landscape-up {
      padding-left: $-padding * 8;
    }
    h2 {
      font-size: 2rem;
      @include for-notebook-landscape-up {
        width: 90%;
      }
    }
    p {
      font-style: italic;
      font-size: 23px;
      margin-top: $-padding;
      @include for-notebook-landscape-up {
        width: 90%;
        text-align: justify;
      }
    }
  }

  img {
    padding-bottom: $-padding * 2;
  }
}

.and-more {
  background: $-orange-light;
  background-size: cover;
  color: $-orange;
  height: max-content;
  min-height: 400px;
  padding: $-padding * 4 $-padding;
  img {
    padding-left: $-padding * 4;
    width: 60%;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    padding: $-padding 0;
    font-size: 23px;
    @include for-notebook-landscape-up {
      width: 300px;
    }
  }
}
