.faqSection {
  padding: 60px 20px;
  margin: auto;
  position: relative;
  height: auto;

  &.preguntas-frecuentes {
    margin-top: 95vh;
    @include for-notebook-landscape-up {
      margin-top: 85vh;
    }
  }
}

.faq-container {
  width: 100%;
}

.faq-line {
  background: url('../../public/assets/svg/line-list.svg') center no-repeat;
  background-size: 30px;
  position: absolute;
  width: 35px;
  height: 30px;
  top: -10px;
}

.faq-label {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-top: $-padding;
  padding: $-padding;
  position: relative;
  width: calc(100% - 30px);
}

.faq-label-text {
  color: $-orange;
  font-size: 23px;
}

.faq-label-icon {
  color: $-purple;
  font-size: 1.2rem;
  padding: 0 0 0 $-padding * 2;
}

.faq-answer {
  transition: 0.3s ease;
  margin-top: $-padding;
  height: 0;
  color: $-orange;
  overflow: hidden;
}

.faq-answer-content {
  padding: 10px $-padding;
  text-align: justify;
  font-size: 1.2rem;
  font-style: italic;

  strong {
    font-weight: 700;
  }
}

.active {
  height: auto;
  margin-bottom: 25px;
}

.rotate {
  transform: rotate(180deg);
}