.mainFooter {
  background-color: $-orange;
  color: $-white;
  padding: $-padding * 6 $-padding * 2;
  position: relative;

  &__menu {
    li {
      padding: 5px $-padding;
    }
  }

  &__line {
    img {
      width: 10px;
    }
  }
  &__logo {
    margin-top: $-padding * 4;
    img {
      width: 100px;
    }
  }

  &__infoContact {
    h3 {
      font-size: 1.6rem;
      margin: $-padding 0;
    }
    h5 {
      margin: $-padding 0;
      width: 50%;
    }
  }

  &::after {
    content: '';
    background: url('../../public/assets/svg/line-footer.svg') center no-repeat;
    position: absolute;
    height: 100px;
    width: 20%;
    right: 0;
    top: 40px;
  }
}