.mainHeader {
  width: 100%;
  &__logo {
    &__img {
      height: auto;
      width: 80px;
    }
  }

  &__nav {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    height: 100%;
    left: -500%;
    margin: auto;
    max-width: $-max-width;
    padding: $-padding;
    position: fixed;
    top: 0;
    transition: all 0.2s ease-in-out;
    z-index: 100;

    @include for-notebook-landscape-up {
      background-color: transparent;
      backdrop-filter: none;
      position: relative;
      left: auto;
    }

    &.is_active {
      left: 0;
    }

    &__item {
      padding: 8px $-padding;

      .itemMenu {
        color: $-white;
        position: relative;
        display: inline-block;
        padding: 0.4em 1em;
        overflow: hidden;
        border: 0.1em solid transparent;
        text-decoration: none;
        transition: border-color 0.2s ease-out;
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 0.5em 1em;
          background: transparent;
          color: $-orange;
        }
        &:hover,
        &:focus,
        &.is-active {
          border-color: $-orange;
        }
      }
    }

    &__icon {
      height: 30px;
      width: 30px;
    }
  }
  .numberHeader {
    color: $-white;
    padding: $-padding $-padding * 2 0;
    position: relative;
    z-index: 1;
  }
}
.headerBackground {
  background: url("../../public/images/img_1.png") no-repeat center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  &.membresia {
    background: url("../../public/images/m_img_1.png") no-repeat center;
    background-size: cover;
  }
  &.cursos {
    background: url("../../public/images/c_img_1.png") no-repeat center;
    background-size: cover;
  }
  &.programas {
    background: url("../../public/images/p_img_1.png") no-repeat center;
    background-size: cover;
  }
  &.asesorias {
    background: url("../../public/images/a_img_1.png") no-repeat center;
    background-size: cover;
  }
  &.beboon {
    background: url("../../public/images/bb_img_1.png") no-repeat center;
    background-size: cover;
    &::before {
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.6) 100%
      );
      content: "";
      left: 0;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
    }
  }
  &.blog {
    background: url("../../public/images/blog_img_1.png") no-repeat center;
    background-size: cover;
  }

  &__line {
    left: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30vw;
  }

  &__content {
    color: $-white;
    margin: auto;
    max-width: $-max-width;
    position: absolute;
    right: 20vw;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    &.leftSection {
      left: 4vw;
      right: initial;

      @include for-notebook-landscape-up {
        left: 16vw;
      }
      .img {
        transform: rotateY(180deg);
      }
    }

    &__title {
      font-size: 2.2rem;
    }

    &__text {
      font-size: 1rem;
      width: 90%;
    }

    img {
      padding: $-padding 0;
      position: relative;
      width: 50%;
    }
  }
}

.hamburger {
  position: fixed;
  background-color: $-orange;
  left: 0;
  top: 0;
  height: 25px;
  width: 25px;
  padding: 20px 20px;
  transform: translate3d(0, 0, 0);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
  cursor: pointer;
  user-select: none;
  @include for-notebook-landscape-up {
    display: none;
  }
}
.hamburger.is-active {
  background-color: none;
}
._layer {
  background: $-white;
  margin-bottom: 4px;
  border-radius: 2px;
  width: 28px;
  height: 4px;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top {
  transform: translateY(-100%);
}
.hamburger:hover .-bottom {
  transform: translateY(100%);
}
.hamburger.is-active .-top {
  transform: translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid {
  opacity: 0;
}
.hamburger.is-active .-bottom {
  transform: translateY(-200%) rotate(135deg) !important;
}
