.mainHeader {
  width: 100%;
  &__logo {
    &__img {
      height: auto;
      width: 80px;
    }
  }

  &__nav {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    height: 100%;
    left: -500%;
    margin: auto;
    overflow-y: scroll;
    padding: $-padding;
    position: fixed;
    top: 0;
    transition: all 0.2s ease-in-out;
    width: 100%;
    z-index: 100;

    @include for-notebook-landscape-up {
      background-color: transparent;
      backdrop-filter: none;
      overflow: initial;
      position: relative;
      left: auto;
      width: auto;
    }

    &.is_active {
      left: 0;
    }

    &__item {
      cursor: pointer;
      padding: 8px 5px;
      position: relative;

      &.item__submenu {
        span {
          &::after {
            content: "";
            display: block;
            position: absolute;
            border-left: 1px solid transparent;
            border-top: 1px solid transparent;
            border-bottom: 1px solid $-orange;
            border-right: 1px solid $-orange;
            right: 12px;
            top: 38%;
            height: 10px;
            transform: rotate(45deg) translateY(-50%);
            width: 10px;
          }
        }
      }

      .itemMenu {
        border: 0.1em solid transparent;
        color: $-white;
        display: inline-block;
        font-size: 16px;
        overflow: hidden;
        padding: 5px 10px 5px 0;
        position: relative;
        text-decoration: none;
        transition: border-color 0.2s ease-out;
        width: 92%;

        @include for-desktop-up {
          font-size: 20px;
        }
        &::before {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 0.5em 1em;
          background: transparent;
          color: $-orange;
        }
        &:hover,
        &:focus,
        &.is-active {
          border-color: $-orange;
        }

        &__submenu {
          background-color: $-white;
          color: $-orange;
          text-align: center;
          height: 0;
          overflow: hidden;
          transform: rotateX(90deg);
          transition: all 0.3s ease-in-out;
          padding: $-padding;
          width: calc(100% - $-padding * 2);

          @include for-notebook-landscape-up {
            transform: rotateX(90deg) translateX(-50%);
          }

          a {
            display: block;
            font-size: 0.875rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;

            @include for-notebook-landscape-up {
              font-size: 1rem;
            }
          }

          @include for-notebook-landscape-up {
            left: 50%;
            position: absolute;
            width: 100%;
          }

          &_item {
            padding: 0.5em 0;
            &:hover {
              background-color: $-orange !important;
              color: $-white !important;
              a {
                color: $-white !important;
              }
            }
          }
        }
      }

      &:hover {
        .itemMenu__submenu {
          height: auto;
          transform: rotateX(0);
          @include for-notebook-landscape-up {
            transform: rotateX(0) translateX(-50%);
          }
        }
      }
    }

    &__icon {
      height: 40px;
      width: 40px;
    }
  }
  .numberHeader {
    color: $-white;
    display: flex;
    padding: $-padding $-padding * 2 0;
    position: relative;
    z-index: 1;

    .whatsapp-icon {
      background: url("../../public/assets/svg/whatsapp.svg") no-repeat center
        center;
      background-size: contain;
      display: block;
      height: 25px;
      margin: 2px auto 0;
      padding-right: $-padding;
      width: 25px;
    }
  }
}
.headerBackground {
  background: url("../../public/images/img_1.png") no-repeat center;
  background-position-x: 40%;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;

  @include for-notebook-landscape-up {
    background-position: center;
  }

  &::before {
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(0, 0, 0, 0.8) 100%
    );
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
  }
  &.membresia {
    background: url("../../public/images/m_img_1.png") no-repeat;
    background-position-x: 65%;
    background-size: cover;
    @include for-notebook-landscape-up {
      background-position: center;
    }
  }
  &.cursos {
    background: url("../../public/images/c_img_1.png") no-repeat center;
    background-size: cover;
  }
  &.programas {
    background: url("../../public/images/p_img_1.png") no-repeat center;
    background-size: cover;
  }
  &.asesorias {
    background: url("../../public/images/a_img_1.png") no-repeat;
    background-position-x: 65%;
    background-size: cover;
    @include for-notebook-landscape-up {
      background-position: center;
    }
  }
  &.beboon {
    background: url("../../public/images/misrecomendados.png") no-repeat center;
    background-position-x: 65%;
    background-size: cover;
    @include for-notebook-landscape-up {
      background-position: center;
    }
  }
  &.patricia {
    background: url("../../public/images/beboon_drapatricia.jpg") no-repeat center;
    background-position-x: 65%;
    background-size: cover;
    @include for-notebook-landscape-up {
      background-position: center;
    }
  }
  &.blog {
    background: url("../../public/images/blog_img_1.png") no-repeat center;
    background-position-x: 65%;
    background-size: cover;
    @include for-notebook-landscape-up {
      background-position: center;
    }
  }

  &.preguntas-frecuentes {
    background: url("../../public/images/p-r.jpg") no-repeat center;
    background-position-x: 65%;
    background-size: cover;
    @include for-notebook-landscape-up {
      background-position: center;
    }
  }

  &.quienes-somos {
    background: url("../../public/images/bb_img_1.png") no-repeat center;
    background-position-x: 65%;
    background-size: cover;
    @include for-notebook-landscape-up {
      background-position: center;
    }
  }

  &__line {
    left: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30vw;
  }

  &__content {
    color: $-white;
    margin: auto;
    max-width: $-max-width;
    position: absolute;
    right: 5vw;
    top: 70%;
    transform: translateY(-50%);
    width: 100%;

    @include for-tablet-portrait-up {
      right: 10vw;
      top: 60%;
    }

    @include for-notebook-landscape-up {
      right: 20vw;
    }

    &.leftSection {
      left: 4vw;
      right: initial;

      @include for-notebook-landscape-up {
        left: 16vw;
      }
      .img {
        transform: rotateY(180deg);
      }
    }

    &__title {
      font-size: 2.3rem;
      width: 95%;

      span {
        font-weight: 300;
      }
    }

    &__text {
      width: 90%;
    }

    img {
      padding: $-padding 0;
      position: relative;
      width: 50%;
    }
  }
}

.hamburger {
  position: absolute;
  right: 25px;
  top: 45px;
  width: 30px;
  padding: 5px;
  transform: translate3d(0, 0, 0);
  transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
  z-index: 1002;
  cursor: pointer;
  user-select: none;
  @include for-notebook-landscape-up {
    display: none;
  }
}
.hamburger.is-active {
  background-color: none;
}
._layer {
  background: $-orange;
  margin-bottom: 3px;
  width: 28px;
  height: 3px;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}
.hamburger:hover .-top {
  transform: translateY(-100%);
}
.hamburger:hover .-bottom {
  transform: translateY(100%);
}
.hamburger.is-active .-top {
  transform: translateY(200%) rotate(45deg) !important;
}
.hamburger.is-active .-mid {
  opacity: 0;
}
.hamburger.is-active .-bottom {
  transform: translateY(-200%) rotate(135deg) !important;
}

.logo__mobile {
  position: absolute;
  left: $-padding;
  top: 25px;
  height: auto;
  width: 80px;
  z-index: 1;

  a {
    display: block;
  }

  @include for-notebook-landscape-up {
    display: none;
  }
}
