.mainHeader {
  width: 100%;
  &__logo{
    &__img {
      height: auto;
      width: 80px;
    }
  }

  &__nav {
    margin: auto;
    max-width: $-max-width;
    padding: $-padding;
    position: relative;
    z-index: 1;

    &__item {
      padding: 8px $-padding * 2;

      .itemMenu {
        color: $-white;
        position: relative;
        display: inline-block;
        padding: .4em 1em;
        overflow: hidden;
        border: .1em solid transparent;
        text-decoration: none;
        transition: border-color .2s ease-out;
        &::before {
          position: absolute; top: 0; left: 0; right: 0; bottom: 0;
          padding: .5em 1em;
          background: transparent;
          color: $-orange;
        }
        &:hover, &:focus, &.is-active {
          border-color: $-orange;
        }
      }
    }

    &__icon {
      height: 30px;
      width: 30px;
    }
  }
  .numberHeader{
    color: $-white;
    padding: $-padding $-padding * 2 0;
    position: relative;
    z-index: 1;
  }
}
.headerBackground {
  background: url('../../public/images/img_1.png') no-repeat center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  &.membresia {
    background: url('../../public/images/m_img_1.png') no-repeat center;
    background-size: cover;
  }
  &.cursos {
    background: url('../../public/images/c_img_1.png') no-repeat center;
    background-size: cover;
  }
  &.programas {
    background: url('../../public/images/p_img_1.png') no-repeat center;
    background-size: cover;
  }
  &.asesorias {
    background: url('../../public/images/a_img_1.png') no-repeat center;
    background-size: cover;
  }

  &__line {
    left: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30vw;
  }

  &__content {
    color: $-white;
    margin: auto;
    max-width: $-max-width;
    position: absolute;
    right: 25vw;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    &.leftSection {
      left: 25vw;
      right: initial;
      .img {
        transform: rotateY(180deg);
      }
    }

    &__title {
      font-size: 2.2rem;
    }

    &__text {
      font-size: 1rem;
    }

    img {
      padding: $-padding 0;
      position: relative;
      width: 50%;
    }
  }
}