.subscription {
  background: url('../../public/images/m_img_7.png') center no-repeat;
  background-size: cover;
  &__item {
    padding: $-padding;
    &__circle {
      background-color: $-orange;
      border-radius: 50%;
      color: $-white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 200px;
      position: relative;
      width: 200px;
      h4 {
        font-size: 2rem;
      }
      small {
        font-size: 15px;
      }
    }
  }
  .btnPrimary {
    margin: 30px auto;
  }
}