.subscription {
  background: url('../../public/images/m_img_7.png') center no-repeat;
  background-size: cover;
  @include for-notebook-landscape-up {
    height: 250px;
  }
  &__item {
    padding: $-padding;
    @include for-notebook-landscape-up {
      transform: translateY(-35%);
    }
    &__circle {
      background-color: $-orange;
      border-radius: 50%;
      color: $-white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 200px;
      position: relative;
      width: 200px;
      h4 {
        font-size: 3rem;
      }
    }
  }
}