.infoSection {
  color: $-orange;

  @include for-tablet-portrait-up {
    padding: $-padding * 4 0;
    margin: 100px 0;
  }

  &__text {
    padding: $-padding;
    h3 {
      font-size: 2.2rem;
      margin-bottom: $-padding;
    }

    p {
      font-size: 1.3rem;
      font-style: italic;
    }
    ul {
      font-style: italic;
      margin: $-padding 0;
      li {
        list-style: inside;
        padding-right: $-padding;

        &:first-child {
          list-style: none;
        }
      }
    }
  }
  &.asesorias {
    margin-top: 100vh;
    @include for-notebook-landscape-up {
      margin-top: 85vh;
    }
  }
}