/* Config */
@import "./config/animations";
@import "./config/grid";
@import "./config/reset";
@import "./config/variables";
@import "./config/mixins";

/* Components */
@import "./components/components";

body {
  font-family: $-fontMuli;
  font-size: 23px;

  &.isActive {
    overflow: hidden;
  }
  p {
    font-size: 23px;
  }

  @include for-phone-only {
    font-size: 18px;
    p {
      font-size: 18px;
    }
  }
}

.container {
  max-width: $-max-width;
}

.orangeSection {
  background-color: $-orange;
  height: max-content;
  margin-top: 50px;
  padding: $-padding * 4 0;
  position: relative;
  width: 100vw;
  max-width: 100%;
  @include for-tablet-portrait-up {
    margin-top: 0;
  }
  @include for-notebook-landscape-up {
    margin-top: 250px;
    padding: 0;
  }
}

.orangeSection-large {
  background-color: $-orange;
  position: relative;
  width: 100vw;
  max-width: 100%;

  @include for-notebook-landscape-up {
    margin-top: 280px;
  }
  .offsetGrid {
    @include for-notebook-landscape-up {
      margin-bottom: -200px;
    }
  }

  &.cursos {
    margin-top: 100vh;
    @include for-notebook-landscape-up {
      margin-top: 115vh;
      height: auto;
    }
    &::after {
      display: none;
    }
    ul {
      font-style: italic;
      list-style-image: url("../../public/assets/svg/line-list.svg");
      padding: $-padding 0 $-padding $-padding;
      li {
        padding: $-padding 0 0 $-padding;
      }
    }
  }
  &.programas {
    height: 100%;
    margin-top: 95vh;
    @include for-notebook-landscape-up {
      margin-top: 120vh;
    }

    &::after {
      display: none;
    }
    ul {
      font-style: italic;
      list-style-image: url("../../public/assets/svg/line-list.svg");
      padding: $-padding 0 $-padding $-padding;
      width: 90%;
      li {
        padding: $-padding 0 0 $-padding;
      }
    }
  }

  &.beboon {
    height: max-content;
    margin-top: 92vh;
    padding-bottom: 50px;
    &::after {
      display: none;
    }
    .rightSection ul {
      display: flex;
      font-style: italic;
      font-size: 1rem;
      font-weight: 300;
      margin: $-padding 0 $-padding 0;
      width: 100%;
      li {
        list-style: inside;
        padding: 0 $-padding 0 0;
        margin: 0;
      }
    }
    .content {
      padding-top: $-padding * 2;
      padding-bottom: $-padding * 2;
      width: 50%;

      &.full-width {
        width: inherit;
        padding: $-padding;
        @include for-notebook-landscape-up {
          padding: $-padding * 2 $-padding;
          width: 95%;
        }
      }
    }
  }
  &.patricia {
    height: max-content;
    margin-top: 115vh;
    padding-bottom: 50px;
    &::after {
      display: none;
    }
    .rightSection ul {
      display: flex;
      font-style: italic;
      font-size: 1rem;
      font-weight: 300;
      margin: $-padding 0 $-padding $-padding;
      width: 100%;
      li {
        list-style: outside;
        padding: 0 $-padding 0 0;
        margin: 0;
      }
    }
    .content {
      padding-top: $-padding * 2;
      padding-bottom: $-padding * 2;
      width: 50%;

      &.full-width {
        width: inherit;
        padding: $-padding;
        @include for-notebook-landscape-up {
          padding: $-padding * 2 $-padding;
          width: 95%;
        }
      }
    }
  }
}

.wrapBlog {
  max-width: 100%;
}

.mirror {
  display: block;
  transform: rotateY(180deg);
}
