@import './font';

// Color scheme
$-black: #000000;
$-purple: #662D91;
$-white: #FDF6EF;
$-orange-light: #F8EADB;
$-orange: #F15F24;

// Breakpoints
$-mobile: 480px;
$-tablet: 768px;
$-notebook: 1024px;
$-large-screen: 1200px;
$-extra-large-screen: 1920px;

$-fontMuli: 'Muli';
$-max-width: 1440px;
$-padding: 15px;
$-shadow: 3px 6px 10px 0 rgba($-black, 0.2);