@import './font';

// Color scheme
$-black: #000000;
$-purple: #662D91;
$-white: #FDF6EF;
$-orange-light: #F8EADB;
$-orange: #F15F24;

// Breackpoints
$-for-phone-only: 599px;
$-tablet: 600px;
$-for-tablet-portrait-up: 900px;
$-for-tablet-landscape-up: 1200px;
$-for-desktop-up: 1800px;

$-fontMuli: 'Muli';
$-max-width: 1440px;
$-padding: 15px;
$-shadow: 3px 6px 10px 0 rgba($-black, 0.2);